
p {
  margin-bottom: 10px;
}

#top {
    width: 100%;
    height: 50px;
    text-align: center;
}

#middle {
    max-width: 550px; 
    width: 100%; 
    min-width: 320px;
    height: 100%; 
    margin-left: auto; 
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    /* background: #06c; */
}

#searchButton {
    float: right;
    margin-top: 10px;
}

#menuButton {
    float: left;
    margin-top: 10px;
}

#logo {
    color: #fff;
    float: none;
    font-size: 22pt;
    position: relative;
    top: 5px;
    color: #000;
    font-weight: bold;
}

#main {
}

#tag {
    color: #999;
    font-size: 150%;
    font-weight: 300;
    margin-bottom: 0px;
}

.author, .authors {
    color: #000;
    font-size: 150%;    
    margin-bottom: 0px;
    font-weight: 300;
}

.authors {
    margin-bottom: 20px;
}

.authors>a>span {color: #000;}

#title, h1 {
    color: #000;
    font-size: 300%;    
    margin-bottom: 0px;
    font-weight: bold;
    margin-top: 0px;
    line-height: 1.2;
}

.album-cover {
    display: none;
}

.ttw-music-player {
    margin: 0;
    width: 100%;
}

#share {
    margin-top: 15px;
}

#facebook {
    float: left;
}

#twitter {
    float: left;
    margin-left: 100px;
}

.fb-comments {
    margin-top: 15px;
}

#nid {
    display: none;
}

#otsiNupp {
    margin-top: 20px;
}

#valiOtsing {
    margin-top: 20px;
}

#playerContainer {
    margin-top: 20px;
}

#forkMe {
    position:fixed;
    right: 0;
    bottom: 0;
    display: none;
}

.gray {
    color: #999;
}

#onOffIcon {
    color: #000;
}

body.black {
    background: #000;
    color: #fff;
}

body.black>#middle>#top>#logo,
body.black>#middle>#top>#onOff>span,
body.black>#middle>#main>div>p.authors>a>span,
body.black>#middle>#main>div>p.author,
body.black>#middle>#main>div>p#title{
    color: #fff;
}

body.black>#middle>#main>div>ul>li.active>a {
    background-color: #000;
    border-bottom: none;
    color: #fff;
}



/*
body.white {
    background: #fff;
    color: #000;
}*/


@media all and (min-width:500px) {
  #forkMe {
    display: inline;
  }
}

