<ul class="nav nav-tabs nav-justified" id="valiOtsing">
<li><a href="#kroonika">Ajatelg</a></li>
  <li ><a href="#otsi">Loengud</a></li>
  <li class="active"><a href="#esinejad">Kõnelejad</a></li>
  <li><a href="#teemad">Teemad</a></li>
</ul>

<form id="otsiNupp">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Otsi..." data-ng-model="searchText" name="otsing" id="otsi" value="{{tag}}" >
      <span class="input-group-addon">
        <span id="searchIcon" class="glyphicon glyphicon-search"></span>
        </span>
    </div>
</form>

<h1>Vali loeng</h1>
<p data-ng-show="db.length > 0 && filteredLectures.length <= 0">
    Tulemusi ei leitud...
</p>
<p class="authors"
   data-ng-repeat="lecture in filteredLectures = (db | searchFilter:searchText | orderBy:'authors[0]')">
    <a href="#loeng/{{lecture.index}}">
        <span data-ng-repeat="author in lecture.authors">
        {{author}}{{$last ? '' : ', '}}
        </span>
        -
        {{lecture.title}}
    </a>
</p>
