<div id="share">
    <div id="facebook" class="fb-like" data-href='http://www.ylikool.ee/#/loeng/{{nid}}' data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>

    <div id="twitter">
        <script src="http://platform.twitter.com/widgets.js"></script>
        <a twitter data-text="Your text: {{file.name}}" class="twitter-share-button" data-url="http://www.ylikool.ee#/loeng/{{nid}}" data-via="ylikool"></a>
    </div>
</div>
<div class="fb-comments" data-href="http://www.ylikool.ee/#/loeng/{{nid}}" data-width="300" data-numposts="5" data-colorscheme="light"></div>

<h1><span class="gray">Veel loenguid teemal:</span><br />{{tag}}</h1>

<p data-ng-show="db.length > 0 && filteredLectures.length <= 0">
    Tulemusi ei leitud...
</p>
<p class="authors"
   data-ng-repeat="lecture in filteredLectures = (db | relatedFilter:tag | orderBy:'authors[0]')">
    <a href="#loeng/{{lecture.index}}">
        <span data-ng-repeat="author in lecture.authors">
        {{author}}{{$last ? '' : ', '}}
        </span>
        -
        {{lecture.title}}
    </a>
</p>